/* CSS RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navbar */

.nav {
  width: 100%;
  height: 4.7rem;
  background: rgb(0, 0, 0);
  background: rgb(64, 183, 173);
  background: linear-gradient(
    90deg,
    rgba(64, 183, 173, 1) 0%,
    rgba(64, 183, 173, 1) 50%,
    rgba(30, 85, 81, 1) 100%
  );
  box-shadow: 2px 2px 8px 2px #888888;
  position: absolute;
  z-index: 1;
}

.nav-icon {
  width: 5rem;
}

.nav-icon:hover {
  cursor: pointer;
}

/*  Page orientation */
.site-flex {
  display: flex;
  flex-direction: column;
}

/* Sidebar && Topbar in below width-1280px*/

.sidebar {
  height: auto;

  border-bottom: solid 2px rgb(64, 183, 173);
}

.side-grid {
  display: flex;
  justify-content: left;
  gap: 1.5rem;
  overflow-x: auto; /* Dodaj ten styl */
  padding: 1rem;
  margin-top: 4.7rem;
}

.side-note {
  width: 10rem;
  height: 10rem;
  /* background-color: rgb(250, 235, 215); */
  background-color: rgb(252, 247, 242);
  border: solid 1px rgb(228, 214, 196);
  box-shadow: 1px 1px 8px 1px #888888;
  flex-shrink: 0;
}

.side-note:hover {
  opacity: 0.8;
}

.x-mark {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  height: 2rem;
  padding-right: 8px;
  color: rgb(197, 3, 3);
  display: flex;
  justify-content: end;
}

.x-mark-p {
  width: 10px;
}

.x-mark-p:hover {
  cursor: pointer;
  color: rgb(161, 1, 1);
}

.plus-button {
  background-color: rgb(107, 179, 173);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 5rem;
  flex-shrink: 0;
}

.plus-button:hover {
  background-color: rgb(51, 182, 171);
  transition: 0.2s;
}

.plus-button:active {
  background-color: rgb(72, 194, 184);
  transition: 0.1s;
}

.center-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: rgb(255, 255, 255);
}

.center-content {
  font-family: "Franklin Gothic ATF Thin", "Arial Narrow", Arial, sans-serif;
  margin: 0.5rem;
  font-size: 1rem;
  overflow-wrap: break-word;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2rem;
  max-height: calc(1.2rem * 5);
}

/* Main content */

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.note {
  background-color: rgb(252, 247, 242);
  margin: 1.5rem;
  margin-top: 4.7rem;
  width: 90%;
  max-width: 50rem;
  height: 60vh;
  box-shadow: 1px 1px 8px 1px #888888;
  /* display: none; */
}

.title,
.content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem;
  line-height: 1.4rem;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.content {
  overflow: auto;
  max-height: calc(60vh - 5rem);
  text-align: justify;
}

/* media queries */

@media (min-width: 1280px) {
  .site-flex {
    flex-direction: row;
  }

  .sidebar {
    width: 16rem;
    height: 100vh;
    margin-top: 0rem;
    border-bottom: none;
    border-right: solid 2px rgb(64, 183, 173);
  }

  .side-grid {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    overflow: auto;
    max-height: 94vh;
  }

  .side-note {
    width: 12rem;
    height: 12rem;
    margin-top: 1.2rem;
  }

  .note {
    width: 90%;
    max-width: 70rem;
    height: 85vh;
    margin-top: 6.8rem;
  }
  .content {
    max-height: calc(85vh - 5rem);
  }
}
