/* CSS RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navbar */

.nav {
  width: 100%;
  height: 5%;
  background: rgb(0, 0, 0);
  background: rgb(64, 183, 173);
  background: linear-gradient(
    90deg,
    rgba(64, 183, 173, 1) 0%,
    rgba(40, 111, 105, 1) 50%,
    rgba(34, 94, 89, 1) 100%
  );
  box-shadow: 2px 2px 8px 2px #888888;
}

.nav-icon {
  width: 5rem;
}

.nav-icon:hover {
  cursor: pointer;
}

/* Sidebar */

.sidebar {
  width: 20rem;
  height: 94vh;
  padding-top: 2rem;
  border-right: solid 2px rgb(64, 183, 173);
}

.side-grid {
  display: grid;
  row-gap: 1rem;
  justify-content: center;
}

.side-note {
  width: 15rem;
  height: 15rem;
  background-color: rgb(250, 235, 215);
  border: solid 1px rgb(228, 214, 196);
  box-shadow: 1px 1px 8px 1px #888888;
}

.side-note:hover {
  opacity: 0.8;
}

.x-mark {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  height: 10%;
  padding-right: 8px;
  color: rgb(197, 3, 3);
  display: flex;
  justify-content: end;
}

.x-mark-p {
  width: 10px;
}

.x-mark-p:hover {
  cursor: pointer;
  color: rgb(161, 1, 1);
}

.center-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  margin-top: 2.2rem;
  color: rgb(182, 171, 157);
}

/* Main content */

.site-flex {
  display: flex;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.note {
  background-color: rgb(250, 235, 215);
  width: 40rem;
  height: 50rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.title,
.content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem;
  line-height: 1.4rem;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.content {
  overflow: auto;
  max-height: calc(50rem - 5rem);
  text-align: justify;
}
